# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.vscode
src/CMakeFiles/
src/CMakeCache.txt
src/C_WRDICE

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
CMakeFiles
src/*.o
src/*.so
src/*.sh

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/
src/Makefile
src/libwrdice.so
src/cmake_install.cmake
src/libwrdice.so
